body {
  --app-color: #fcf8ec;
  --app-background: #456268;
}
.app {
  height: 100vh;
  min-height: 100vh;
  background-color: #000000;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1572376636973-049ac950cb53?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=peinge-nakale-yic2OFh8O1c-unsplash.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
